'.text.html.handlebars':
  'Brightspot Base define element':
    'prefix': 'BSP Define Element'
    'body': """
{{#defineElement "${1:elementName}"}}
  <div class="{{elementName}}">{{this}}</div>
{{/defineElement}}
    """
